<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Auth</title>
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>
    <form action="/login" method="POST">
        <h1 id="loginText">Login</h1>

        <input type="text" name="username" placeholder="username">
        <input type="password" name="password" placeholder="password">

        <div id="buttons">
            <button id="submit" type="submit">Login</button>
            <a href="/register">Register here</a>
        </div>

<!--        <p id="backend-error" th:text="${loginError}"></p>-->
        <p th:if="${param.error}" style="color:red">
            Invalid username or password
        </p>
        <p th:if="${param.logout}" style="color:green">
            You have been logged out
        </p>

    </form>
</body>
</html>